annotated-types==0.8.0
colorama==0.4.6
greenlet==3.5.5
iniconfig==2.3.0
loguru==0.7.3
numpy==2.5.2
opencv-python==5.0.0.93
packaging==26.3
pandas==3.0.5
pluggy==1.6.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
PyYAML==6.0.3
setuptools==84.0.0
six==1.17.0
SQLAlchemy==2.0.52
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
wheel==0.48.0
win32_setctime==1.2.0
